<?xml version="1.0" encoding="UTF-8"?>
<!--
  web.config cho site IIS "testing" (testing.cybersoft.edu.vn).
  IIS lam reverse proxy: chuyen moi request sang Node service o 127.0.0.1:3210
  (Windows Service "testing" chay `next start -p 3210`, quan ly boi nssm).
  YEU CAU tren server: cai "Application Request Routing (ARR)" + "URL Rewrite",
  va bat proxy: appcmd set config -section:system.webServer/proxy /enabled:true
  Dat file nay o thu muc goc cua site IIS (KHONG phai thu muc app Node).
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyToNode" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3210/{R:1}" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_PROTO" value="https" />
          </serverVariables>
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <!-- Cho phep body lon hon cho upload Excel (sinh ma). ~20MB -->
        <requestLimits maxAllowedContentLength="20971520" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
